<!DOCTYPE html>
<html>
<head>
    <title>METANIT.COM</title>
    <meta charset="utf-8" />
</head>
<body>
    @{
        //ViewData["Title"] = "ASP.NET Core MVC";
        ViewBag.Title = "ASP.NET Core MVC 2";
    }

    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <h2>Count: @ViewBag.People.Count</h2>
    <ul>
        @foreach (string person in ViewBag.People)
        {
            <li>@person</li>
        }
    </ul>
</body>
</html>