<!DOCTYPE html>
<html>
<head>
    <title>METANIT.COM</title>
    <meta charset="utf-8" />
</head>
<body>
    @try
    {
        throw new InvalidOperationException("Something wrong");
    }
    catch (Exception ex)
    {
        <p>Exception: @ex.Message</p>
    }
    finally
    {
        <p>finally</p>
    }

    @{
        bool isEnabled = true;
    }
    @if (isEnabled)
    {
        @: Hello
    }

    @functions{
        public int Sum(int a, int b)
        {
            return a + b;
        }
        public int Square(int n) => n * n;
    }
    <p>Sum of 5 and 4: <b> @Sum(5, 4)</b></p>
    <p>Square of 4: <b>@Square(4)</b></p>
</body>
</html>